.my-account h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.my-account p,
.my-account div {
  line-height: 1.5;
}

.my-account h2 {
  text-align: left;
  margin-bottom: 0;
}

.my-account > div {
  margin-bottom: 30px;
}

.my-account .order-info a {
  color: #8643f3;
}

.my-account .order-info {
  margin-bottom: 20px;
}

.my-account .logout-link {
  cursor: pointer;
  display: inline-block;
}

@media (min-width: 1024px) {
  .my-account {
    padding-bottom: 100px;
  }
}
