@media (min-width: 720px) {
  .product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product-grid .product {
    margin: 0 20px 30px 0;
    max-width: calc(50% - 10px);
    min-width: calc(50% - 10px);
  }

  .product-grid .product:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: 1024px) {
  .product-grid .product {
    margin-right: 30px;
    max-width: calc(33% - 17px);
    min-width: calc(33% - 17px);
  }

  .product-grid .product:nth-child(2n) {
    margin-right: 30px;
  }

  .product-grid .product:nth-child(3n) {
    margin-right: 0;
  }
}
