#footer {
  background-color: #8643f3;
  padding: 20px 0;
}

#footer p {
  color: #fff;
  text-align: center;
  margin: 0;
}

#footer .vw-text {
  color: #fff;
}

#footer img {
  max-height: 15px;
  margin: 0 2px;
  position: relative;
  top: 2px;
}

@media (min-width: 1024px) {
  #footer img {
    max-height: 20px;
  }
}
