#search {
    padding: 20px 0;
    text-align: center;
    background-color: #8643f3;
}

#search .search-inputs {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 500px;
}

#search .input-submit {
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 30px;
    border: none;
    position: absolute;
    right: 10px;
    top: 12px;
}

#search .input-search {
    padding: 15px 10px;
    box-sizing: border-box;
    width: 100%;
    border: none;
}

#search .input-search::placeholder {
    opacity: 0.8;
}
